
#top {
    background-color: #D7EDFB;
    color: white;
    padding: 2px;
    margin: 0px 0px 10px 0px;
    width: 100%;
}

#user1 {
    background-color: #D7EDFB;
    color: black;
    padding: 1px;
    margin: 4px 0px 6px 0px;
    width: 100%;
}

#rol1 {
    background-color: #D7EDFB;
    color: black;
    padding: 1px;
    margin: 4px 0px 6px 0px;
    width: 100%;
}

#depen1 {
    background-color: #D7EDFB;
    color: black;
    padding: 1px;
    margin: 4px 0px 6px 0px;
    width: 100%;
}

#menu {
    position: relative;
    background-color: #ffffff;
    color: white;
    padding: 2px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #D7EDFB;
    padding: 2px;
    margin: 5px 0px 0px 0px;
    width: 100%;
}
#ppal {
    width:950px;
    height:auto;
    margin:auto;
    padding:0px;
}
#left {
    position: relative;
    float: left;
    background-color: #c2dfef;
    padding: 0px;
    width: 150px;
}

#right {
    position: relative;
    float: right;
    background-color: #c2dfef;
    padding: 0px;
    width: 150px;
}

#formConsultaC{
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 12px; 
    
}


#consultaC{
 font-size: 12px;   
    
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 2px;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 12px;
    width: 100%;
}

.left_content {
    background-color: #dddddd;
    padding: 2px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: lightslategrey;
  font-weight : bold;
  text-decoration: none;
}

#menu a:link, #menu a:visited {
  color: darkslategray;
  font-weight : normal;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


